[Unit]
Description=Run Amperstand feed sync every 30 minutes
Requires=amperstand-feed-sync.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Unit=amperstand-feed-sync.service
Persistent=true

[Install]
WantedBy=timers.target
